{% extends 'partials/base.html' %}
{% block title %}Order Page{% endblock %}

{% block content %}

<div class="container">
    <div class="row my-4">
        <div class="col-md-4">

        </div>
        <div class="col-md-8">
            <table class="table bg-white">
                <thead class="bg-info">
                    <tr class="text-white">
                        <th scope="col">#</th>
                        <th scope="col">Product</th>
                        <th scope="col">Category</th>
                        <th scope="col">Quantity</th>
                        <th scope="col">Order by</th>
                    </tr>
                </thead>
                <tbody>
                    <tr>
                        <th scope="row">1</th>
                        <td>Mate</td>
                        <td>Lucy</td>
                        <td>@laap</td>
                        <td>
                            Broon
                        </td>
                    </tr>
                    <tr>
                        <th scope="row">2</th>
                        <td>James</td>
                        <td>Allan</td>
                        <td>@ooaaa</td>
                        <td>
                            Kennedy
                        </td>
                    </tr>
                    <tr>
                        <th scope="row">3</th>
                        <td>Lance</td>
                        <td>Williamz</td>
                        <td>@twitter</td>
                        <td>
                            Cindy
                        </td>
                    </tr>
                </tbody>
            </table>
        </div>
    </div>

</div>



<!--End Table-->
{% endblock %}